@model pe.com.cibereletrik.cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apepcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apepcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apemcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apemcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doccli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doccli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dircli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dircli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.corcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.corcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito.nomdis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito.nomdis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo.nomsex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo.nomsex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipodocumento.nomtipd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipodocumento.nomtipd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codcli }) |
    @Html.ActionLink("Back to List", "Index")
</p>
