@model pe.com.cibereletrik.ticketpedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ticketpedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.nomcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nomcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleado.nomemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nomemp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nroped }) |
    @Html.ActionLink("Back to List", "Index")
</p>
