@model IEnumerable<pe.com.ciberelectrik.SP_MostrarSexoTodo_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomsex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estsex)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomsex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estsex)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codsex }) |
            @Html.ActionLink("Details", "Details", new { id=item.codsex }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codsex }) |
            @Html.ActionLink("Enable", "Enable", new { id=item.codsex })
        </td>
    </tr>
}

</table>
