@model pe.com.cibereletrik.empleado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apepemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apepemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apememp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apememp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.docemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.docemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diremp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diremp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coremp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coremp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.claemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.claemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito.nomdis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito.nomdis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol.nomrol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol.nomrol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo.nomsex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo.nomsex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipodocumento.nomtipd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipodocumento.nomtipd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
