@model pe.com.cibereletrik.distrito

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>distrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomdis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomdis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estdis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estdis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.coddis }) |
    @Html.ActionLink("Back to List", "Index")
</p>
