@model IEnumerable<pe.com.cibereletrik.distrito>

@{
    ViewBag.Title = "Mantenimiento Distrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento Distrito</h2>

<p>
    @Html.ActionLink("Nuevo Distrito", "Create", null, new { @class = "btn btn-nuevo" })
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.coddis)</td>
            <td>@Html.DisplayFor(modelItem => item.nomdis)</td>
            <td>
                @if (item.estdis == true)
                {
                    <span class="badge-habilitado">Habilitado</span>
                }
                else
                {
                    <span class="badge-deshabilitado">Deshabilitado</span>
                }
            </td>
            <td>
                @Html.ActionLink("Actualizar", "Edit", new { id = item.coddis }, new { @class = "btn btn-actualizar btn-sm" })
                @Html.ActionLink("Detalles", "Details", new { id = item.coddis }, new { @class = "btn btn-detalles btn-sm" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.coddis }, new { @class = "btn btn-eliminar btn-sm" })
                @Html.ActionLink("Habilitar", "Enable", new { id = item.coddis }, new { @class = "btn btn-habilitar btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>
