@model pe.com.cibereletrik.tipodocumento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tipodocumento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomtipd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomtipd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esttipd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esttipd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codtipd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
