@model pe.com.ciberelectrik.tipodocumento

@{
    ViewBag.Title = "Enable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enable</h2>

<h3>Are you sure you want to enable this?</h3>
<div>
    <h4>tipodocumento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomtipd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomtipd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esttipd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esttipd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Enable" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
